body {
    background-color: #ADD8E6;
}
nav ul li {display:inline; margin:5px;}

nav {text-align: center;}
p {
    color: black;
    margin: 20px;
}
footer{text-align: center}
h1 {
    color: black;
    font-family: verdana;
    font-size: 50px;
    text-align: center;
}
h2 {margin: 10px;}
section{
    background-color: #f7f5ee;
    border: 5px #ac9675 solid;
    border-radius: 50px;
    padding: 1em;
    margin: 2em;
    text-align: left;
}
a:visited{
     color:red;
     }
a:hover{
    font-size: 120%; 
    color: yellow;
    } 
